/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


/* Importing Bootstrap iccon SCSS file. */
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';

body{
    height: 100vw;
    margin: 0;
    overflow-x: hidden;
    // background-color: lightgrey;
    overflow-y: scroll;
}